.notice
  グループ作成成功
.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        = current_user.name
        %a.chat-side__user--new-group
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %a.chat-side__user--edit-user
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
  .chat-side__groups
    .chat-side__groups-list
      .chat-side__group
        -current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .chat-side__group-name
              = group.name
            .chat-side__group-message
              メッセージはまだありません
      .chat-side__group
        -current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .chat-side__group-name
              = group.name
            .chat-side__group-message
              メッセージはまだありません


.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        HELLO WORLD
      %a.chat-main__header--group-edit-btn{:href => ""} edit
    .chat-main__header-members
      MEMBER:
      %i NAGOMU
  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__message
        .chat-main__message-name
          NAGOMU
        .chat-main__message-time
          0000/00/00 00:00:00
        .chat-main__message-body
          TEST
      .chat-main__message
        .chat-main__message-name
          NAGOMU
        .chat-main__message-time
          0000/00/00 00:00:00
        .chat-main__message-body
          TEST
      .chat-main__message
        .chat-main__message-name
          NAGOMU
        .chat-main__message-time
          0000/00/00 00:00:00
        .chat-main__message-body
          TEST
  .chat-main__footer
    %form.chat-main__footer-form
      .chat-main__footer-body
        %input.description{:placeholder => "type a message", :type => "text"}/
        %label.chat-imgfile
          %input.image{:type => "file"}/
          %i.fa.fa-image
      %input.submit{:type => "submit", :value => "Send"}/
